<%= simple_form_for(@person) do |f| %>
<div class="row" >
	<div class="col-md-3">
		<%= f.input :last_name %>
	</div>
	<div class="col-md-3">
		<%= f.input :first_name %>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<%= f.input :gender,:as => :select, :collection => [[t('gender.male'),true], [t('gender.female'),false]], input_html: { class: 'form-control' } %>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<%= f.input :birth_date, as: :date_time_picker, hint: false %>
	</div>
	<div class="col-md-3">
			<%= f.input :birth_place, input_html: { class: 'form-control' } %>
	</div>
</div>

<div class="row" >
	<div class="col-md-6">
		<hr />
			<%= f.input :street %>
	</div>
</div>
<div class="row" >
	<div class="col-md-2">
		<%= f.input :zip, as: :string, input_html: { :value => ("%05d" % f.object.zip if f.object.zip != nil) } %>
	</div>
	<div class="col-md-4">
		<%= f.input :city %>
	</div>
</div>

<div class="row" >
	<div class="col-md-6">
		<hr />
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"> <%= t('contacts', count: 1) %>
				<%= link_to_add_fields f, :contacts %> </h3>
			</div>
			<div id="contacts-list" class="panel-body">
				<%= f.simple_fields_for :contacts do |contact| %>
				<%= render 'contact_fields', :f => contact %>
				<% end %>
			</div>
		</div>
		<hr />
	</div>
</div>

<%= f.submit :class => 'btn btn-success' %>

<% end %>

