<%= simple_form_for(@person) do |f| %>
<div class="row" >
	<div class="col-md-3">
		<div class="form-group">
			<%= f.input :last_name, input_html: { class: 'form-control' } %>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<%= f.input :first_name, input_html: { class: 'form-control' } %>
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<div class="form-group">
			<%= f.input :gender,:as => :select, :collection => [[t('gender.male'),true], [t('gender.female'),false]], input_html: { class: 'form-control' } %>
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<%= render :partial => 'fields/date', :locals => { f: f, model: @person, attr: :birth_date } %>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<%= f.input :birth_place, input_html: { class: 'form-control' } %>
		</div>
	</div>
</div>

<div class="row" >
	<div class="col-md-6">
		<hr />
		<div class="form-group">
			<%= f.input :street, input_html: { class: 'form-control' } %>
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-md-2">
		<div class="form-group">
			<%= f.input :zip, input_html: { class: 'form-control', :value => ("%05d" % f.object.zip if f.object.zip != nil) } %>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<%= f.input :city, input_html: { class: 'form-control' } %>
		</div>
	</div>
</div>

<div class="row" >
	<div class="col-md-6">
		<hr />
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"> <%= t('contact', count: 1) %>
				<%= link_to_add_fields f, :contacts %> </h3>
			</div>
			<div id="contacts-list" class="panel-body">
				<%= f.simple_fields_for :contacts do |contact| %>
				<%= render 'contact_fields', :f => contact %>
				<% end %>
			</div>
		</div>
		<hr />
	</div>
</div>

<div class="row" >
	<div class="col-md-3">
		<div class="form-group">
			<%= f.association :user, input_html: { class: 'form-control' } %>
		</div>
	</div>
</div>

<%= f.submit :class => 'btn btn-success' %>

<% end %>

