<% @people.each do |person| %>
<tr>
	<td><%= person.last_name %></td>
	<td><%= person.first_name %></td>
	<td><%= person.gender ? t('gender.male') : t('gender.female') %></td>
	<td><%= l(person.birth_date, format: :default) %></td>
	<td><%= person.birth_place %></td>
	<td><%= person.street %></td>
	<td><%= "%05d" % person.zip if person.zip != nil %></td>
	<td><%= person.city %></td>
	<td><%= link_to raw("<span class='glyphicon glyphicon-th-list'></span>"), person %></td>
	<td><%= link_to raw("<span class='glyphicon glyphicon-pencil'></span>"), edit_person_path(person) %></td>
	<td><%= link_to raw("<span class='glyphicon glyphicon-trash'></span>"),  person_delete_path(person), remote: true %></td>
</tr>
<% end %>