<%= simple_form_for(@competition_template, remote: true) do |f| %>
<div class="modal-body">
	<ul class="errors"></ul>

	<div class="row" >
		<div class="col-md-6">
			<%= f.input :title %>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-6">
			<%= f.input :short_name %>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> <%= f.label :venue %></h3>
				</div>
				<div class="panel-body">
					<%= f.association :venue %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<%= f.button :submit %>
	<%= link_to t('views.cancel'), "#", class: "btn", data: {dismiss: "modal"} %>
</div>
<% end %>

