<% provide(:title, @competition_template.title ) %>

<p>
  <strong><%= t('activerecord.attributes.competition_template.title') %>:</strong>
  <%= @competition_template.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.competition_template.short_name') %>:</strong>
  <%= @competition_template.short_name %>
</p>

<p>
  <strong><%= t('venues', count: 1) %>:</strong>
  <% if policy(Venue.new).show? %><%= link_to @competition_template.venue.city, venue_path(@competition_template.venue) %> <% else %> <%= @competition_template.venue.city %><% end %>
</p>
