<%= simple_form_for(@competition) do |f| %>

<div class="row" >
	<div class="col-md-6">
		<%= f.input :title %>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<%= f.input :start_date, as: :date_time_picker %>
	</div>
	<div class="col-md-3">
		<%= f.input :end_date, as: :date_time_picker %>
	</div>
</div>

<div class="row" >
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"> <%= f.label :venue %>
				<div class="pull-right">
					<% if policy(Venue.new).new? %>
					<%= link_to raw("<span class='glyphicon glyphicon-plus green'></span>"), new_venue_path, remote: true, id: "venue" %>
					<% end %>
					<% if policy(Venue.new).edit? %>
					<%= link_to raw("<span class='glyphicon glyphicon-pencil yellow'></span>"), edit_venue_path(1), class: "hidden venue-edit", remote: true %>
					<% end %>
				</div></h3>
			</div>
			<div class="panel-body">
				<%= f.association :venue, label: false %>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"> <%= f.label :competition_template %>
				<div class="pull-right">
					<% if policy(CompetitionTemplate.new).new? %>
					<%= link_to raw("<span class='glyphicon glyphicon-plus green'></span>"), new_competition_template_path, remote: true, id: "competition" %>
					<% end %>
					<% if policy(CompetitionTemplate.new).edit? %>
					<%= link_to raw("<span class='glyphicon glyphicon-pencil yellow'></span>"), edit_competition_template_path(1), class: "hidden competition_template-edit", remote: true %>
					<% end %>
				</div></h3>
			</div>
			<div class="panel-body">
				<%= f.association :competition_template, label: false %>
			</div>
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<div class="panel panel-primary">
			<%= render 'age_class_list', :f => f %>
		</div>
	</div>
</div>

<%= f.submit :class => "btn btn-success" %>

<% end %>

<div id="competition_template-modal" class="modal fade"></div>

