<% allow_show = policy(Competition.new).show? %>
<% allow_edit = policy(Competition.new).edit? %>
<% allow_delete = policy(Competition.new).delete? %>
<% @competitions.each do |competition| %>
<tr>
    <td><%= competition.title %></td>
    <td><%= l(competition.start_date) %></td>
    <td><%= l(competition.end_date) if competition.end_date != nil and competition.end_date != competition.start_date %></td>
    <td><% if policy(Venue.new).show? %><%= link_to competition.venue.city, venue_path(competition.venue) %> <% else %> <%= competition.venue.city %><% end %></td>
    <td><% if policy(CompetitionTemplate.new).show? %><%= link_to competition.competition_template.short_name, competition_template_path(competition.competition_template) %> <% else %> <%= competition.competition_template.short_name %><% end %></td>
	<%= link_to_show competition, :wrap => 'td', :allow => allow_show %>
	<%= link_to_edit competition, :wrap => 'td', :allow => allow_edit %>
	<%= link_to_delete competition, :wrap => 'td', :allow => allow_delete %>
</tr>
<% end %>