<% provide(:title, @competition.title ) %>

<p>
  <strong><%= t('activerecord.attributes.competition.start_date') %>:</strong>
  <%= l(@competition.start_date) %>
</p>

<% if @competition.end_date != nil and @competition.end_date != @competition.start_date%>
<p>
  <strong><%= t('activerecord.attributes.competition.end_date') %>:</strong>
  <%= @competition.end_date %>
</p>
<% end %>

<p>
  <strong><%= t('venues', count: 1) %>:</strong>
  <% if policy(Venue.new).show? %><%= link_to @competition.venue.city, venue_path(@competition.venue) %> <% else %> <%= @competition.venue.city %><% end %>
  
</p>

<p>
  <strong><%= t('competition_templates', count: 1) %>:</strong>
  <% if policy(CompetitionTemplate.new).show? %><%= link_to @competition.competition_template.short_name, competition_template_path(@competition.competition_template) %> <% else %> <%= @competition.competition_template.short_name %><% end %></td>
	
</p>
