<%= simple_form_for(@user, remote: true) do |f| %>
<div class="modal-body">
	<ul class="errors"></ul>

	<div class="row" >
		<div class="col-md-6">
			<%= f.input :email %>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-6">
			<%= f.input :password %>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-6">
			<%= f.input :password_confirmation %>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-6">
			<div class="panel panel-primary">
				<%= render 'role_list', :f => f %>
			</div>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-6">
			<%= f.association :person, :collection => @people %>
		</div>
	</div>
</div>

<div class="modal-footer">
	<%= f.submit :class => 'btn btn-success' %>
	<%= link_to t('views.cancel'), "#", class: "btn", data: {dismiss: "modal"} %>
</div>

<% end %>
