<div class="row" >
	<div class="col-md-3">
		<%= simple_form_for(@user) do |f| %>
		<div class="form-group <%= "has-error" if @user.errors[:name].any? %>">
			<%= f.input :name, required: false, error: false,  input_html: { class: 'form-control' }, label_html: { class: 'control-label' } %>
			<% if @user.errors[:name].any? %>
			<span class="help-block"><%= @user.errors.full_messages_for(:name).first %></span>
			<% end %>
		</div>
		<div class="form-group <%= "has-error" if @user.errors[:email].any? %>">
			<%= f.input :email, required: false, error: false,  input_html: { class: 'form-control' }, label_html: { class: 'control-label' } %>
			<% if @user.errors[:email].any? %>
			<span class="help-block"><%= @user.errors.full_messages_for(:email).first %></span>
			<% end %>
		</div>
		<div class="form-group <%= "has-error" if @user.errors[:password].any? %>">
			<%= f.input :password, required: false, error: false,  input_html: { class: 'form-control' }, label_html: { class: 'control-label' } %>
			<% if @user.errors[:password].any? %>
			<span class="help-block"><%= @user.errors.full_messages_for(:password).first %></span>
			<% end %>
		</div>
		<div class="form-group <%= "has-error" if @user.errors[:password_confirmation].any? %>">
			<%= f.input :password_confirmation, required: false, error: false,  input_html: { class: 'form-control' }, label_html: { class: 'control-label' } %>
			<% if @user.errors[:password_confirmation].any? %>
			<span class="help-block"><%= @user.errors.full_messages_for(:password_confirmation).first %></span>
			<% end %>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><%= t('views.role', count: 2) %></h3>
			</div>
			<div class="panel-body">
				<%= f.collection_check_boxes :role_ids, Role.all, :id, :name, {:item_wrapper_tag => :div, :item_wrapper_class => 'checkbox'} do |b| %>
				<% b.label(:class => 'control-label') { b.check_box + b.text } %>
				<% end %>
			</div>
		</div>

		<%= f.submit :class => 'btn btn-success' %>

		<% end %>
	</div>
</div>
