<%= simple_form_for(@user) do |f| %>
<div class="row" >
	<div class="col-md-3">
		<%= f.input :email %>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<%= f.input :password %>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<%= f.input :password_confirmation %>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<div class="panel panel-primary">
			<%= render 'role_list', :f => f %>
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<%= f.association :person, :collection => @people %>
	</div>
</div>

<%= f.submit :class => 'btn btn-success' %>

<% end %>

<div id="role-modal" class="modal fade"></div>
