<%= simple_form_for(@venue, remote: true) do |f| %>
<div class="modal-body">
	<ul class="errors"></ul>

	<div class="row" >
		<div class="col-md-12">
				<%= f.input :name %>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-12">
				<%= f.input :street %>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-4">
				<%= f.input :zip, as: :string, input_html: { :value => ("%05d" % f.object.zip if f.object.zip != nil) } %>
		</div>
		<div class="col-md-8">
				<%= f.input :city %>
		</div>
	</div>
</div>
<div class="modal-footer">
	<%= f.button :submit,  :class => 'btn btn-success' %>
	<%= link_to t('views.cancel'), "#", class: "btn", data: {dismiss: "modal"} %>
</div>
<% end %>

