<%= simple_form_for(@venue, remote: true) do |f| %>
<div class="modal-body">
	<ul class="errors"></ul>

	<div class="row" >
		<div class="col-md-12">
			<div class="form-group">
				<%= f.input :name, input_html: { class: 'form-control' } %>
			</div>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-12">
			<div class="form-group">
				<%= f.input :street, input_html: { class: 'form-control' } %>
			</div>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-4">
			<div class="form-group">
				<%= f.input :zip, as: :string, input_html: { class: 'form-control', :value => ("%05d" % f.object.zip if f.object.zip != nil) } %>
			</div>
		</div>
		<div class="col-md-8">
			<div class="form-group">
				<%= f.input :city, input_html: { class: 'form-control' } %>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<%= f.button :submit,  :class => 'btn btn-success' %>
	<%= link_to t('views.cancel'), "#", class: "btn", data: {dismiss: "modal"} %>
</div>
<% end %>

