<%= simple_form_for(@venue) do |f| %>

<div class="row" >
	<div class="col-md-6">
		<%= f.input :name %>
	</div>
</div>
<div class="row" >
	<div class="col-md-6">
		<%= f.input :street %>
	</div>
</div>
<div class="row" >
	<div class="col-md-2">
		<%= f.input :zip, as: :string, input_html: { :value => ("%05d" % f.object.zip if f.object.zip != nil) } %>
	</div>
	<div class="col-md-4">
		<%= f.input :city %>
	</div>
</div>

<%= f.submit :class => 'btn btn-success' %>

<% end %>
