<% provide(:title, t('.title')) %>

<table class="table table-striped tablesorter">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.venue.name') %></th>
      <th><%= t('activerecord.attributes.venue.street') %></th>
      <th><%= t('activerecord.attributes.venue.zip') %></th>
      <th><%= t('activerecord.attributes.venue.city') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="competition-index">
    <%= render 'index'%>
  </tbody>
</table>
