<% provide(:title, @venue.name ) %>

<p>
  <strong><%= t('activerecord.attributes.venue.name') %>:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.venue.street') %>:</strong>
  <%= @venue.street %>
</p>

<p>
  <strong><%= t('activerecord.attributes.venue.zip') %>:</strong>
  <%= "%05d" % @venue.zip if @venue.zip != nil %>
</p>

<p>
  <strong><%= t('activerecord.attributes.venue.city') %>:</strong>
  <%= @venue.city %>
</p>

