<% provide(:title, @age_class.name) %>

<p>
  <strong><%= t('activerecord.attributes.age_class.name') %>:</strong>
  <%= @age_class.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.age_class.min_age') %>:</strong>
  <%= @age_class.min_age %>
</p>

<p>
  <strong><%= t('activerecord.attributes.age_class.max_age') %>:</strong>
  <%= @age_class.max_age %>
</p>
