<%= simple_form_for @role do |f| %>
<div class="row">
	<div class="col-md-3">
		<%= f.input :name %>
	</div>
</div>
<div class="row">
	<% @acts.each do |a| %>

	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><%= t("#{a[0].pluralize}", count: 2) %></h3>
			</div>
			<div  class="panel-body">

				<%= f.collection_check_boxes :activities, a[1], :to_s, :to_s, {:item_wrapper_tag => :div, :item_wrapper_class => 'checkbox'} do |b| %>
				<% b.label(:class => 'control-label') { b.check_box+ t("#{b.text.split(':')[0].pluralize}.#{b.text.split(':')[1]}.action").gsub(/#{t("#{a[0].pluralize}", :count => 2)}-?\s?/, '').gsub(/#{t("#{a[0].pluralize}", :count => 1)}-?\s?/, '').capitalize } %>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>

</div>

<%= f.submit :class => 'btn btn-success' %>

<% end %>
