<% @roles.each do |role| %>
<tr>
	<td><%= role.name %></td>
	<td> <% role.activities.each do |act| %>
	<%= t("views.#{act.split(':')[0]}.#{act.split(':')[1]}.action") %><%= ", " if role.activities.last != act %>
	<% end %> </td>
	<td><%= link_to raw("<span class='glyphicon glyphicon-th-list'></span>"), role %></td>
	<td><%= link_to raw("<span class='glyphicon glyphicon-pencil'></span>"), edit_role_path(role) %></td>
	<td><%= link_to raw("<span class='glyphicon glyphicon-trash'></span>"),  role_delete_path(role), remote: true %></td>
</tr>
<% end %>