<%= simple_form_for(@member) do |f| %>
<div class="row" >
	<div class="col-md-3">
		<%= f.input :member_number %>
	</div>
	<div class="col-md-3">
		<%= f.input :entry, as: :date_time_picker, class: "month" %>
	</div>

</div>

<div class="row" >
	<div class="col-md-6">
		<hr />
	</div>
</div>

<%= f.simple_fields_for :person do |f_person| %>
<div class="row" >
	<div class="col-md-3">
		<%= f_person.input :last_name %>
	</div>
	<div class="col-md-3">
		<%= f_person.input :first_name %>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<%= f_person.input :gender,:as => :select, :collection => [[t('gender.male'),true], [t('gender.female'),false]] %>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<%= f_person.input :nationality, :as => :country, priority: ["DE"], iso_codes: true %>
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-md-3">
		<%= f_person.input :birth_date, as: :date_time_picker %>
	</div>
	<div class="col-md-3">
		<div class="form-group">

			<%= f_person.input :birth_place %>
		</div>
	</div>
</div>

<div class="row" >
	<div class="col-md-6">
		<hr />
	</div>
</div>

<div class="row" >
	<div class="col-md-6">
		<%= f_person.input :street %>
	</div>
</div>
<div class="row" >
	<div class="col-md-2">
		<%= f_person.input :zip, as: :string, input_html: { :value => ("%05d" % f_person.object.zip if f_person.object.zip != nil) } %>
	</div>
	<div class="col-md-4">
		<%= f_person.input :city %>
	</div>
</div>

<div class="row" >
	<div class="col-md-6">
		<hr />
	</div>
</div>

<div class="row" >
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"> <%= t('contacts', count: 1) %>
				<%= link_to_add_fields f_person, :contacts %> </h3>
			</div>
			<div id="contacts-list" class="panel-body">
				<%= f_person.simple_fields_for :contacts do |form_contact| %>
				<%= render 'people/contact_fields', :f => form_contact %>
				<% end %>
			</div>
		</div>
		<hr />
	</div>
</div>

<%= f_person.simple_fields_for :user do |f_user| %>
<div class="row" >
	<div class="col-md-6">
		<%= f_user.input :email %>
	</div>
</div>
<% end %>

<% end %>

<%= f.submit :class => 'btn btn-success' %>
<% end %>
